Options -Indexes
ServerSignature Off

# Protect config directory
<FilesMatch "^database\.php$">
    Order Deny,Allow
    Deny from all

    RewriteEngine On
    RewriteCond %{REQUEST_URI} ^/favicon\.ico$ [NC]
    RewriteRule .* /assets/images/Paw-Adopt%20Logo.png [L]
</FilesMatch>

# PHP error handling for production
# php_flag display_errors Off
# php_value error_reporting 0
